@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #fff;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 10px;
    border-bottom: 1px solid #c1bfbf;
}

.nav-links > a {
    text-decoration: none;
    color: #464444;
    margin-right: 50px;
    font-weight: normal;
    font-size: 14px;
}

.nav-links > a:hover {
   color: #bfbbbb;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
.center {
    vertical-align: center;
    color: #464444;
    height: 100%;
}
.nav-button-1 {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.nav-button-1:hover {
    background-color: #bfbbbb;
}
.nav-button-2 {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.nav-button-2:hover {
    background-color: #fff;
    color: #000;
}
.product-arrow {
    display: flex;
}

/* main home page */
.main-home-page {
    height: 100vh;
    margin: 40px;
    margin-bottom: 0px !important;
}

.sub-home-page {
    display: flex;
    justify-content: space-between;
}

.text-section {
    width: 550px;
}

.text-section > h1 {
    font-size: 100px;
    line-height: 1;
    letter-spacing: 3px;
    padding-bottom: 80px;
}

.single-custom-header {
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-custom-para-1 {
    border-top: 4px solid #000;
    width: 270px;
    font-size: 20px;
    padding-top: 50px;
    margin-bottom: 40px;
}

.image-section > img {
    height: 550px;
}

.sub-text-section {
    display: flex;
    align-items: center;
}

.sub-text-section > button {
    border: none;
    background-color: #fff;
    height: 50px;
    font-size: 20px;
    margin-right: 50px;
}

.custom-arrow-right-alt {
    background-color: #3b3939;
    color: #fff;
    padding: 15px;
    margin-right: 20px;
}

.sub-text-section > p {
    width: 70px;
    font-size: 18px;
    margin-right: 10px;
}

.custom-one {
    position: absolute;
    right: 200px;
    height: 100px;
}

.navigate-arrow-section {
    display: flex;
    align-items: center;
    height: 80px;
}

.navigate-arrow-left {
    position: absolute;
    right: 150px;
    border: 1px solid #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
}

.navigate-arrow-right {
    position: absolute;
    right: 120px;
    border: 1px solid #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

/* Product Features */
.product-features {
    display: flex;
}